<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    .container{
       height:500px;
       width:500px;
       background-color: aliceblue; 
       align-content: baseline;
       margin-top: 50px;
    }
    #btn{
        background: green;
        size: 40px;
    }
    input{
        width:90%;
        padding: 12px 20px;
        margin: 9px 0;
        box-sizing: border-box;
    }
    #lb{
       color: green;
    }
    
    </style>
</head>
<body bgcolor="green">
    <center>
    <div class="container" >
     <form><h2>LOGIN</h2>
       <input type="text" placeholder="username" size="40px"><br><br>
        <input type="text" placeholder="password" size="40px"><br><br>
        <input type="button" value="LOGIN"  id="btn"><br><br>
        <label for="" >Not registered?</label><label id="lb"><a href="/register" style="text-decoration: none;">  Create an account</a></label>
    </center>
     </form>
    </div>
</body>
</html>